﻿<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <title>Home</title>

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="CSS.css">

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- FONTAWESOME : icone -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <!-------------------------------------------------
                                NAVBAR
        --------------------------------------------------->
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light fixed-top" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="#section1"><img src="Logo.png" weight="25" height="25" alt="logo"></a>
                <!-- Icone menu déroulant -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span><i class="fas fa-bars"></i>
                </button>
                <!-- Content navbar -->
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Pouet")">Connexion</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("ListClient", "Pouet")">Liste de connexion</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="PouetAll()" style="cursor: pointer;">Test du son</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-------------------------------------------------
                                BODY
        --------------------------------------------------->
        <!-- For connexion-->
        <div class="marge1">
            <h1 style="text-align: center;"> Connexion </h1> <br><br>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="Username" class="form-control" id="Username" placeholder="Enter tour username">
            </div>
            <button onclick="Connect()" class="btn btn-primary">Connexion</button>
            <p style="color: green" id="Success"></p>
        </div>


    </body>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Client.js"></script>
    <script src="~/js/PouetAll.js"></script>
</html>