body {
      position: relative; 
  }

/**************************************** 
                  INDEX 
*****************************************/

.marge{
	padding-top: 10%;
  padding-bottom: 15%;
	margin-right: 10%;
	margin-left: 10%;
  text-align: center;
}

.marge1{
  padding-top: 10%;
  padding-bottom: 15%;
  margin-right: 10%;
  margin-left: 10%;

}